* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 104px 115px;
}

.title {
  width: 306px;
  margin-left: 463px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
}

hr {
  height: 4px;
  width: 100px;
  background-color: #f5bd41;
  border: 0;
  margin-bottom: 80px;
  margin-left: 565px;
}

.row {
  text-align: center;
  width: 296px;
}

.main-block {
  font-size: 24px;
  max-width: 1232px;
  display: flex;
  gap: 16px;
}

img {
  margin-bottom: 45px;
}

footer {
  background-color: #10367c;
  color: #fff;
}

.main-row {
  display: flex;
  font-size: 20px;
  margin: 0;
}

footer p {
  font-weight: 400;
  margin: 24px 0;
}

p.footer-title {
  font-weight: 500;
  margin-top: 0;
}

.first-column {
  margin-right: 223px;
}

.second-column {
  margin-right: 285px;
  margin-bottom: 40px;
}

.small-text {
  font-size: 14px;
  margin: 0 0 120px;
}
